@model SentimentAnalysis.SentimentModule.StatisticalAnalysisData

@{
    ViewBag.Title = "AnalyzeDependency";
}
<h2>Analyzing Dependency</h2>

<div>
    <h4>Analysis Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @* @Html.DisplayNameFor(model => model.MothToGradeTTest)*@
            @Html.Raw("Significance of correlation between month of review and user given review grade:")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.MothToGradeTTest)
        </dd>

        <dt>

            @*@Html.DisplayNameFor(model => model.YearToGradeTTest)*@
            @Html.Raw("Significance of correlation between year of review and user given review grade:")


        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearToGradeTTest)
        </dd>
        @foreach (var pair in Model.GradeCorrelationResults)
        {

            <dd>
                @Html.Raw((pair.Key+2000).ToString()) - @Html.Raw(pair.Value.ToString())

            </dd>
        }

        <dt>
            @* @Html.DisplayNameFor(model => model.YearToSentimentTTest)*@
            @Html.Raw("Significance of correlation between year of review and sentiment analysis grade:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearToSentimentTTest)
        </dd>
        @foreach (var pair in Model.SentimentCorrelationResults)
        {

            <dd>
                @Html.Raw((pair.Key +2000).ToString()) - @Html.Raw(pair.Value.ToString())

            </dd>
        }
        <dt>
            @* @Html.DisplayNameFor(model => model.YearToSentimentTTest)*@
            @Html.Raw("Existance of significance of correlation between user and given grade:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserToGradeCorrelationText)
        </dd>

    </dl>
</div>
