@model IEnumerable<SentimentAnalysis.SentimentModule.AnalysisData>

@{
    ViewBag.Title = "Analysis of all reviews";
}

<h2>Sentiment results for all reviews:</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Review.reviewText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review.overall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentimentEvaluation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositiveWordsCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NegativeWordsCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <textarea id="scrollBarTextArea">
                    @Html.DisplayFor(modelItem => item.Review.reviewText)
                </textarea>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review.overall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentimentEvaluation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositiveWordsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NegativeWordsCount)
            </td>
        </tr>
    }

</table>
